<div id="tasks">
  {{#each data}}
    {{#with this as |client|}}
      <div class="list--container" id="client-{{client_id}}">
    {{/with}}
      <div class="list raise">
        <div class="list--header">
          <h1>my tasks</h1>
          <h2>{{@key}}</h2>
          <h4>{{../date}}</h4>
          <h5>{{../week}}</h5>
        </div>
        <div class="list--body">
          {{#each lists}}
            <section class="list--{{@key}}">
              <h3 class="list--subheading">{{title}}</h3>
              <div class="list--tasks {{@key}}">
                {{#each tasks}}
                  <div
                    data-id="{{id}}"
                    data-complete="{{completed_at}}"
                    class="list--task raise raise--light"
                  >
                    <div class="list--task__name">
                      {{task}}
                    </div>
                    <div class="list--task__options">
                      <span class="timer">
                        {{#if timer}}
                          {{timer}}
                        {{/if}}
                      </span>
                      <button data-id="{{id}}" started="0" class="raise raise--light" type="button" name="timer" title="Timer">
                        <i class="fal fa-stopwatch"></i>
                        <i class="fal fa-pause"></i>
                      </button>
                      <button data-id="{{id}}" class="raise raise--light" type="button" name="add_time" title="Add Time">
                        <i class="fal fa-clock"></i>
                      </button>
                      <button data-id="{{id}}" class="raise raise--light" type="button" name="complete" title="Complete">
                        <i class="fal fa-check-square"></i>
                      </button>
                      <button data-id="{{id}}" class="raise raise--light" type="button" name="delete" title="Delete">
                        <i class="fal fa-trash"></i>
                      </button>
                    </div>
                  </div>
                {{/each}}
              </div>
              {{#if form}}
                <form class="list--new-task" data-client="{{../client_id}}">
                  <input type="text" name="task" value="" placeholder="Add a New Task">
                  <button class="raise raise--light" type="submit" name="button">
                    <i class="fal fa-plus-square"></i>
                  </button>
                </form>
              {{/if}}
            </section>
          {{/each}}
        </div>
      </div>
    </div>
  {{/each}}
</div>

{{!-- add-time modal --}}
<div id="time-modal" class="hide">
  <div class="modal raise">
    <h2>tisk task</h2>
    <h1>add time</h1>
    <div class="time">
      <span></span>
    </div>
    <div class="options">
      <button class="raise raise--light" type="button" name="15min">15 m</button>
      <button class="raise raise--light" type="button" name="30min">30 m</button>
      <button class="raise raise--light" type="button" name="1hr">1 h</button>
    </div>
  </div>
</div>
