<div class="container">
  <div class="list raise">
    <div class="list--header">
      <h1>{{title}}</h1>
      <h4>{{date}}</h4>
    </div>
    <div class="list--body">
      {{#each lists}}
        <section class="list--{{@key}}">
          <h3 class="list--subheading">{{title}}</h3>
          <div class="list--tasks" id="{{@key}}">
            {{#each tasks}}
              <div data-id="{{id}}" class="list--task raise raise--light">
                <div class="list--task__name">
                  {{task}}
                </div>
                <div class="list--task__options">
                  <span class="timer">
                    {{#if timer}}
                      {{timer}}
                    {{/if}}
                  </span>
                  <button data-id="{{id}}" started="0" class="raise raise--light" type="button" name="timer" title="Timer">
                    <i class="fal fa-stopwatch"></i>
                  </button>
                  <button data-id="{{id}}" class="raise raise--light" type="button" name="complete" title="Complete">
                    <i class="fal fa-check-square"></i>
                  </button>
                  <button data-id="{{id}}" class="raise raise--light" type="button" name="delete" title="Delete">
                    <i class="fal fa-trash"></i>
                  </button>
                </div>
              </div>
            {{/each}}
          </div>
          {{#if form}}
            <form id="new-task" class="list--new-task">
              <input type="text" name="task" value="" placeholder="Add a New Task">
              <button class="raise raise--light" type="submit" name="button">
                <i class="fal fa-plus-square"></i>
              </button>
            </form>
          {{/if}}
        </section>
      {{/each}}
    </div>
  </div>
</div>
